
html {
    box-sizing: border-box;

}
* {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    border: 10px;
    width: 100 px;
    height: 100px

}

main {
    margin: 16px;

}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;


}


img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 200px;
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;



}
